		body {
			font-family: 'Roboto Flex';
		}

		a {
			text-decoration: none;
			color: white;
		}

		#ref {
			color: black;
		}

		.header {
			position: relative;
			display: flex;
			align-items: center;
			word-break: break-word;
			border-bottom: 2px solid;
		}

		#logo {
			display: flex;
		}

		#name {
			display: flex;
			font-weight: medium;
			align-items: center;
			justify-content: center;
			align-self: left;

		}

		#menu {
			position: absolute;
			right: 0;
			top: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-weight: Regular;
			background-color: rgb(72, 98, 237, 1.0);
			color: white;
		}

		.burger-menu {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
		}

		.burger-menu div {
			background: rgb(72, 98, 237, 1.0);
		}

		.menu-items {
			display: none;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: absolute;
			background: rgb(72, 98, 237, 1.0);
		}

		.menu-items a {
			display: flex;
			justify-content: center;
			align-items: center;
			text-decoration: none;
			color: white;

		}

		#menu:hover .menu-items {
			display: flex;
		}

		.men {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.footer {
			display: flex;
			flex-flow: column;
			align-items: center;
			justify-content: center;
			word-break: break-word;
			background-color: rgb(72, 98, 237, 1.0);
		}

		#info {
			display: flex;
			justify-content: space-between;
		}

		#info>div {
			color: white;
			border-color: black;
		}

		#ref {
			display: flex;
			justify-content: space-between;
		}

		.refimg {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.fotimg1 {
			background-color: white;
		}

		.fotimg2 {
			border-radius: px;
			background-color: white;
		}

		.fotimg3 {
			background-color: white;
		}

		.main {
			display: flex;
			flex-flow: row wrap;
			align-items: center;
			justify-content: space-between;
			/* Распределение пространства между элементами */
		}

		.top {
			flex-flow: column;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		#bruh {
			font-weight: bold;
		}

		#nah {
			display: flex;
			justify-content: center;
			align-items: center;
		}